networkx==2.1
numpy==1.14.*
opencv-python==4.2.0.32
scikit-image==0.13.1
scipy==1.0.0

# only used for reading images in draw.py
Pillow==5.0.0

# only used for creating nice plots for evaluation
matplotlib==2.2.*